.footer{
width:100%;
height:50px;
float:left;

}
.header{
text-align:center;
color:red;
}
.form{
margin-left:30em;
color:#0000FF;
width:20em;
}
#input-age{
margin-left:3em;
}
#input-desc{
margin-left:7em;
}
#select-gender{
margin-left:2em;
}

#input-addr{
margin-left:7em;
}
#show-btn{
margin-left:7em;
}

.label{
margin-right:2em;
}

.fields{
margin-left:2em;

}


